<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>翼呼软电话</title>
    <!-- 引入vue -->
    <script src="vue/vue.js" type="text/javascript"></script>
    <!-- 引入ElementUI -->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="element-ui/lib/index.js"></script>
    <!-- 引入自定义样式  -->
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="home">
    <!-- 顶部 -->
    <el-header class="topBar">
        <h1>翼呼软电话</h1>
        <el-dropdown  @command="changeReason">
            <el-button :type="reasonInfo.buttonType" style="width: 200px">
                {{`${reasonInfo.label || reasonInfo.placeholder} | ${reasonInfo.callNumber} | ${reasonInfo.duration}`}}
                <i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown" style="width: 200px">
                <el-dropdown-item v-for="item in reasonInfo.options" :command="item">
                    <div v-if="item.value === 0" style="color: #67C23A">{{item.label}}</div>
                    <div v-else style="color: #dd6161">{{item.label}}</div>
                </el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
        <el-input type="text" v-model="callNumber" style="width: 100px" placeholder="外拨号码"></el-input>
        <el-button id="login_btn" type="success" @click="showLogin" v-if="buttonInfo.login_btn">登录</el-button>
        <el-button id="makeCall_btn" type="success" @click="makeCall" v-if="buttonInfo.makeCall_btn">外呼</el-button>
        <el-button id="hangup_btn" type="success" @click="hangUp" v-if="buttonInfo.hangup_btn">挂断</el-button>
        <el-button id="answer_btn" type="success" @click="answer" v-if="buttonInfo.answer_btn">接听</el-button>
        <el-button id="consult_btn" type="success" @click="consultBTN" v-if="buttonInfo.consult_btn">咨询</el-button>
        <el-button id="hold_btn" type="success" @click="hold" v-if="buttonInfo.hold_btn">保持</el-button>
        <el-button id="retrieve_btn" type="success" @click="retrieve" v-if="buttonInfo.retrieve_btn">取回</el-button>
        <el-button id="ssc_btn" type="success" @click="ssc" v-if="buttonInfo.ssc_btn">会议</el-button>
        <el-button id="sst_btn" type="success" @click="sst" v-if="buttonInfo.sst_btn">转移</el-button>
        <el-button id="alternate_btn" type="success" @click="alternate" v-if="buttonInfo.alternate_btn">切换</el-button>
        <el-button id="transfer_btn" type="success" @click="transfer" v-if="buttonInfo.transfer_btn">转移</el-button>
        <el-button id="reconnect_btn" type="success" @click="reconnect" v-if="buttonInfo.reconnect_btn">重连</el-button>
        <el-button id="conference_btn" type="success" @click="conference" v-if="buttonInfo.conference_btn">会议</el-button>
        <el-button id="sendDTMF_btn" type="success" @click="sendDTMF" v-if="buttonInfo.sendDTMF_btn">发送DTMF</el-button>
        <el-button id="validatePwd_btn" type="success" v-if="buttonInfo.validatePwd_btn">验密</el-button>
        <div>{{`${ isLogin ? station?.stationId : '坐席号' } : ${ isLogin ? station?.domain : '域名' }`}}</div>
        <el-dropdown @command="signOut">
            <el-button type="primary">
                {{ isLogin ? station?.agent?.agentId : '未登录' }}
                <i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="signOut">登出</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-header>
    <el-main class="body">
        <li style="width:218px" v-for="item in queueInfo">
            <span style="margin-left: -7px;">{{`${item.queueNum} : ${item.level}`}}</span>
        </li>
    </el-main>


    <!-- 登录弹框 -->
    <el-dialog
        title="坐席登录"
        :visible.sync="loginDialogVisible"
        width="550px"
        :before-close="cancelLogin"
    >
        <el-form :model="loginForm" ref="loginForm" label-width="150px" :rules="loginFormRules">
            <el-form-item label="域名" prop="domain">
                <el-input v-model="loginForm.domain" class="inputContent"></el-input>
            </el-form-item>
            <el-form-item label="坐席号" prop="agentId">
                <el-input v-model="loginForm.agentId" class="inputContent"></el-input>
            </el-form-item>
            <el-form-item label="分机号" prop="stationId">
                <el-input v-model="loginForm.stationId" class="inputContent"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input v-model="loginForm.password" class="inputContent"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="cancelLogin">取 消</el-button>
            <el-button type="primary" @click="login">登 录</el-button>
        </span>
    </el-dialog>

    <!-- 咨询、转移 弹框 -->
    <el-dialog
            title="请输入号码"
            :visible.sync="transferDialogVisible"
            width="550px"
            :before-close="cancelTransfer"
    >
        <el-form :model="transferForm" ref="transferForm" label-width="150px" :rules="transferFormRules">
            <el-form-item label="号码" prop="transferNum">
                <el-input v-model="transferForm.transferNum" class="inputContent"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="cancelTransfer">取 消</el-button>
            <el-button type="primary" @click="successTransfer">确 定</el-button>
        </span>
    </el-dialog>

    <!-- 验密 弹框 -->
    <el-dialog
            title="坐席验密"
            :visible.sync="validatePwdDialogVisible"
            width="550px"
            :before-close="cancelValidatePwd"
    >
        <el-form :model="validatePwdForm" ref="validatePwdForm" label-width="150px" :rules="validatePwdFormRules">
            <el-form-item label="验密ivr号码" prop="ivrNumber">
                <el-input v-model="validatePwdForm.ivrNumber" class="inputContent"></el-input>
            </el-form-item>
            <el-form-item label="座席路由号码" prop="waitRoutePoint">
                <el-input v-model="validatePwdForm.waitRoutePoint" class="inputContent"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="cancelValidatePwd">取 消</el-button>
            <el-button type="primary" @click="successValidatePwd">确 定</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script src="./config/config.js" type="text/javascript"></script>

<script src="./utils/class/Error.js" type="text/javascript"></script>
<script src="./utils/class/Util.js" type="text/javascript"></script>
<script src="./utils/class/Log.js" type="text/javascript"></script>
<script src="./utils/funList.js" type="text/javascript"></script>
<script src="./utils/typeList.js" type="text/javascript"></script>
<script src="./utils/event.js" type="text/javascript"></script>

<script src="./utils/class/Call.js" type="text/javascript"></script>
<script src="./utils/class/Calls.js" type="text/javascript"></script>
<script src="./utils/class/Agent.js" type="text/javascript"></script>
<script src="./utils/class/Event.js" type="text/javascript"></script>
<script src="./utils/class/Socket.js" type="text/javascript"></script>
<script src="./utils/class/Station.js" type="text/javascript"></script>
<script src="./utils/class/Session.js" type="text/javascript"></script>


<script src="index.js" type="text/javascript"></script>
</html>
